.header {
  display: flex;
  background: blue;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
}

.search-form {
  display: flex;
  margin: 0 auto;
}

input {
  border: 1px solid #ffffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #ffffff;
  outline: none;
  height: 35px;
  width: 200px;
  font-size: 16px;
  border-right: none;
  padding: 5px;
}

.submit {
  background-image: url("../images/serch-icon.svg");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70%;
  padding: 3px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submit:hover,
.submit:focus {
  background-color: grey;
}